*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{

    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;

}

.container{

    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;

}

.background{

    transform: translateZ(-40px) scale(6);
}

.foreground{

    transform: translateZ(-10px) scale(2);
}
.background , .foreground{

    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}

.container h1{

    position: absolute;
    top: 90px;
    letter-spacing: 4px;
    font-size: 160px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    text-shadow: 5px 0 3px grey;
    
}

section{

    background-color: #2D2D2D;
    color: white;
    padding: 5rem 0;

}

.secHeading{

    font-size: 5rem;
    padding: 0 10rem;
    font-family: 'Poppins', sans-serif;
}

.bg{

    width: 100%;
    position: relative;
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.desc{

    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    color: black;
    top: 50%;
    left: 50%;
    font-size: 4rem;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Poppins', sans-serif;

}

.text
{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
    font-family: 'Poppins', sans-serif;
}
.bg1{

    background-image: url(assets/sport-1.jpg);
    
}

.bg2{

    background-image: url(assets/sport-2.jpg);
    

}

.bg3{

    background-image: url(assets/sport-3.jpg);
    
}